---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Disallow: /premium/
Disallow: /proshop/
Disallow: /premiumshop/
Disallow: /themes/
Disallow: /page-list/

Sitemap: https://www.nillianstore.com/sitemap.xml
---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: https://www.nillianstore.com/sitemap.xml 