---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

# Legacy 11tyshop starter pages (kept disallowed until 404 after next deploy)
Disallow: /premium/
Disallow: /proshop/
Disallow: /premiumshop/
Disallow: /themes/
Disallow: /page-list/

Sitemap: https://www.nillianstore.com/sitemap.xml
