<div class="container py-4 mb-5">
  <h1>{{ title }}</h1>
  {% if description %}<p class="lead text-muted">{{ description }}</p>{% endif %}
  {% if cover %}<img class="page-cover" alt="{{ cover_alt or title }}" width="1200" height="675" src="{{cover}}"/>{% endif %}
  <div class="prose">
    {{ content | safe }}
  </div>
</div>
